<!DOCTYPE html>
html(lang="en")
        head
                meta(charset="UTF-8")
                meta(name="viewport", content="width=device-width, initial-scale=1.0")
                title=title
                link(rel="stylesheet", href="/css/main.css")
                block styles
        body
                header.main_header 
                        nav.main_header__nav 
                                ul.main_header__item_list 
                                        li.main_header__item 
                                                a(href="/") Shop 
                                        li.main_header__item 
                                                a.active(href="/admin/add-product") Add Product 
                block content